@import "bootstrap/less/bootstrap.less";
@import "bootstrap/less/responsive.less";
/* Now use bootstrap and less! */

li.loading {
    background: url("../img/loading.gif") center left no-repeat;
    padding-left: 24px;
}

ul#facts {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}
